.App {
  text-align: center;
}

.avatar {
  background-color: white;
  color: black;
  border: 1px solid gray; /* Add a border to distinguish the button */
  display: block; /* Display as block-level elements to take full width */
  text-align: center; /* Center-align text within the button */
  margin: 10px auto; /* Center horizontally with a little margin between buttons */
  width: 100%; /* Set a fixed width of 100% */
  font-weight: bold; /* Set the font weight to bold */
}

.green-button {
  background-color: white;
  color: black;
  border: 1px solid gray; /* Add a border to distinguish the button */
  display: block; /* Display as block-level elements to take full width */
  text-align: center; /* Center-align text within the button */
  margin: 10px auto; /* Center horizontally with a little margin between buttons */
  width: 80%; /* Set a fixed width of 100% */
  font-weight: bold; /* Set the font weight to bold */
}

.green-button.MuiButton-root:hover {
  background-color: green;
  color: white;
  border: 1px solid green; /* Add a border to distinguish the button */}

.blue-button {
  background-color: white;
  color: black;
  border: 1px solid gray; /* Add a border to distinguish the button */
  display: block; /* Display as block-level elements to take full width */
  text-align: center; /* Center-align text within the button */
  margin: 10px auto; /* Center horizontally with a little margin between buttons */
  width: 80%; /* Set a fixed width of 100% */
  font-weight: bold; /* Set the font weight to bold */
}

.blue-button.MuiButton-root:hover {
  background-color: blue;
  color: white;
  border: 1px solid blue; /* Add a border to distinguish the button */}

.yellow-button {
  background-color: white;
  color: black;
  border: 1px solid gray; /* Add a border to distinguish the button */
  display: block; /* Display as block-level elements to take full width */
  text-align: center; /* Center-align text within the button */
  margin: 10px auto; /* Center horizontally with a little margin between buttons */
  width: 80%; /* Set a fixed width of 100% */
  font-weight: bold; /* Set the font weight to bold */
}

.yellow-button.MuiButton-root:hover {
  background-color: #c78203;
  color: white;
  border: 1px solid #c78203; /* Add a border to distinguish the button */}

.red-button {
  background-color: white;
  color: black;
  border: 1px solid gray; /* Add a border to distinguish the button */
  display: block; /* Display as block-level elements to take full width */
  text-align: center; /* Center-align text within the button */
  margin: 10px auto; /* Center horizontally with a little margin between buttons */
  width: 80%; /* Set a fixed width of 100% */
  font-weight: bold; /* Set the font weight to bold */
}

.red-button.MuiButton-root:hover {
  background-color: red;
  color: white;
  border: 1px solid red; /* Add a border to distinguish the button */
}

/* Updated default button styles */
.MuiButton-root {
  background-color: white;
  color: black;
  border: 1px solid gray; /* Add a border to distinguish the button */
  display: block; /* Display as block-level elements to take full width */
  text-align: center; /* Center-align text within the button */
  margin: 10px auto; /* Center horizontally with a little margin between buttons */
  width: 80%; /* Set a fixed width of 100% */
  font-weight: bold; /* Set the font weight to bold */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* additions here*/
  height: 100vh;
  background: transparent;
  overflow:hidden
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  position: fixed; /* or "sticky" for a hybrid effect */
  top: 0; /* Fix the header to the top of the viewport */
  width: 100%; /* Make the header full width */
  background-color: #333; /* Style your header as desired */
  color: #fff;
  z-index: 1000; /* Adjust the z-index to control the stacking order */
}

.open-sidebar {
  position: fixed;
  top: 0px; /* Adjust the position as needed */
  right: 0px; /* Adjust the position as needed */
  z-index: 101; /* Give it a higher z-index value to appear above the header */
}

.scrollable-container {
  overflow: auto; /* or overflow: scroll; */
  /* Additional styles for the scrollable container */
}

.fade-in {
  opacity: 0;
  transition: opacity 2s;
}

.fast-fade-in {
  opacity: 0;
  transition: opacity 0.5s;
}

.show {
  opacity: 1;
}

.default-avatar {
  width:28px !important;
  height: 28px !important;
  transition: all 0.8s ease !important; /* Adjust the duration and timing function as needed */
}

.expanded-avatar {
  width: 180px !important;
  height: 180px !important;
  margin: 5px !important;
  transition: all 0.8s ease !important; /* Adjust the duration and timing function as needed */
}